
@media all and (max-width: 800px) {

    body {
        overflow-x: hidden;
    }

    .all-contant {
        max-width: 800px;
        min-width: 320px;
    }

    .nav-menu {
        height: 70px;
    }

    .nav-s1 {
        padding-top: 15px;
        padding-left: 100px;
    }
    
    .nav-s2 {
        display: none;
    }
    
    .shop {
        font-size: 28px;
    }
    
    .magazyn {
        font-size: 14px; 
    }
    
    .header {
 
        justify-content: center;
    }
    
    .header-text {
        padding-left: 0px;
    }

    .pading-right {
        padding-right: 0px;
    }

    .dsp-wrap {
        display: initial ;
        flex-wrap: initial ;
        padding: 45px 0 20px 90px;
    }
    
    .header-big-text
    {
        font-size: 28px;
        line-height: 1.5;
        letter-spacing: 2px;
        text-align: left;
        color: white;
        padding-top: 40px;
        
    }
    
    .header-small-text
    {
        font-size: 20px;
        line-height: 1.8;
        letter-spacing: 1.5px;
        text-align: left; 
        padding-top: 20px;
        
    }
    
    .yellow-button{
        margin-left: 20px;
        width:280px;
    }
    
    .timer {
        margin-top: 51px;
        margin-left: 10px;
    }

    .timer-number {
        width: 18px;
        margin-right: 7px;
        font-size: 38px;
    }
    
    .header-images {
        padding-top: 30px;
        padding-right: initial;
    }
    
    .mirror-image {
        width: 290px;
        height: 130px;
        padding-left: 10px;
        padding-top: 16px;
    }
    
    .mirror-price {
        padding-left: 200px;
        width: 100px;
        padding-top: 68px;
        position: absolute;
    }

    h2 {
        font-size: 20px;
        margin-top: 20px;
        line-height: 1.5;
    }
    
    h3 {
        font-size: 18px;
        line-height: 1.5; 
    }
    
    h4 {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        letter-spacing: 1px; 
    }
    
    li {
        font-size: 13px;
        padding-left: 4px;
    }
    
    .charect-width-1, .charect-width-2 {
        width: 90%;
    }
    .charect-pading-2 {
        padding-left: initial;
    }

    .characteristics {
        padding-left: 35%;
        box-sizing: border-box;
    }

    .char-div {
        order: -2;
    }

    .yellow-line-left {
        width: 10%;
    }

    .line-mobile {
        display: block;
        box-sizing: border-box;
        margin-left: 35%;
        order: -1;
    }
    
    .line-destop {
        display: none;
    }

    .photo-mirror, .photo-mirror-2 {
        padding-right: initial; 
        display: flex;
        justify-content: center;
    }

    .photo-mirror-2 {
        padding-top: 40px;
    }
    
    .photo-mirror-2 img {
        width: 260px;
    }

    .charect-width-3 {
        width: 90%;
    }

    .text-complet {
        padding-top: 10px;
    }

    .img-charact-3 {
        display: none;
    }

    .reasons-position {
        box-sizing: border-box;
        padding-left: 36%;
    }

    .car-number {
        border: solid 6px #ffdc00;
    }
    
    .circle {
        width: 12px;
        height: 12px;
        background:#333333;
        border-radius: 50%; 
    }
    
    .main-row-1 {
        display: flex;
        padding-top: 20px;
        flex-direction: column;
    }

    video {
        width: 450px;
        height: 270px;
    }
    .video {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
    
    .video-border {
        width: 452px;
        height: 270px;
        position: absolute;
    }

    .saving {
        flex-direction: column; 
    }

    .plus {
        padding-left: 220px;
    }

    .mirror img {
        width: 300px;
    }

    .saving-position {
        box-sizing: border-box;
        padding-left: 21%;
    }

    .saving-text {
        font-size: 16px;
    }

    .gift .saving-text {
        padding-top: 30px;
    }

    .feedback-desktop {
        display: none;
    }

    .feedback-mobile {
        display: block;
    }

    .div-car-number {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    .arrows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .arrow {
        font-size: 60px;
        box-sizing: border-box;
        padding: 0 100px 0 100px;
        margin-top: initial;
    }

    .yellow-cirle {
        background:#ffe74f;
        border: 1.5px solid black;
    }
    
    .yellow-cirle-2 {
        background:#ffe74f;
        border: 1.5px solid #ffe74f;
    }

    .feedback-cirle {
        padding-top: 30px;
    }

    .feedback-text {
        line-height: 1.5; 
        box-sizing: border-box;
        padding-left: 100px;
        padding-right: 100px;
    }

    .user-text {
        font-size: 16px;
    }

    .feedback-mobile .damage {
        justify-content: center;
    }

    .div-guarantee {
        width: 50%;
        box-sizing: border-box;
        padding: 0px 15px 0 15px;
    }

    .guarantee {
        line-height: 2;
    }

    .div-position {
        margin-left: 25%;
    }

    .div-pos-2 {
        margin-left: 30%;
    }

    div .delivery:nth-child(2) {
        padding-left: 15px;
    }

    .rotate-img {
        box-sizing: border-box;
        padding-left: 10px;
    }

    input {
        margin-left: 10px;
    }

    .rotate-img .plus {
        padding-left: 10px;
    }

    .rotate-img .mirror-2 img{
        transform: scale(1, 1);
        width: 300px;
    }

    .mirror-r {
        transform: scale(-1, -1);
        width: 300px;
        height: 170px;
        padding-bottom: 29px;
    }
    
    .form .btn-position {
        justify-content: initial;
    }


    .headerPrice{
        width: 100px;
        padding-left: 15px; 
        z-index: 1;
        padding-top: 100px
    }
   
    
}

    @media all and (max-width: 320px) {

        .nav-s1 {
            padding-left: 25px;
        }

        .shop {
            font-size: 28px;
        }

        .magazyn {
            font-size: 11px; 
        }

        .dsp-wrap {
            width: 320px;
            padding: 30px 0;
        }

         .header-big-text {
        font-size: 20px;
        padding-left: 10px;
        }

        .header-small-text {
            font-size: 16px;
            letter-spacing: 0.5px;
            padding-left: 10px;
        }

        .characteristics {
            padding-left: 10%;
            box-sizing: border-box;
        }

        .line-mobile {
            margin-left: 10%;
        }

        .yellow-line-left {
            width: 20%;
        }

        .yellow-line {
            width: 40%;
        }

        .btn-position {
            justify-content: initial;
        }

        .reasons-position {
            padding-left: 10%;
        }

        .video-border {
            width: 301px;
            height: 180px;
            position: absolute;
        }

        video {
            width: 296px;
            height: 180px;
        }

        .saving-position {
            padding-left: 5%;
        }
        .img-girl {
            width: 290px;
            height: initial; 
        }

        .damage {
            padding-top: 10px;
        }

        .car-back {
            width: 155px;
            height: initial;
        }

        .car-back-2 {
            width: 115px;
            height: initial;
        }

        .saving-text br {
            display: none;
        }

        .gift .saving-text {
            padding-top: 20px;
        }

        .plus {
            padding-left: 10px;
        }

        .arrow {
            padding: 0 20px 0 20px;
        }

        .div-guarantee {
            width: 100%;
        }

        .feedback-text {
            padding-left: 20px;
            padding-right: 20px;
        }

        .div-position, .div-pos-2 {
            margin-left: initial;
        }

        .gift-2 br {
            display: none;
        }

        .gift-2 {
            font-size: 13px;
            line-height: 1.8;
        }


        .rotate-img .damage {
            padding-top: 25px;
        }

        .rotate-img .plus {
            padding-left: 10px;
        }


        .form .btn-position {
            justify-content: initial;
        }

        
    }