
@media all and (max-width: 800px) {

    body {
        overflow-x: hidden;
    }

    .all-contant {
        max-width: 800px;
        min-width: 320px;
    }

    .nav-s1 {
        padding-top: 27px;
        padding-left: 100px;
    }
    
    .nav-s2 {
        display: none;
    }
    
    .shop {
        font-size: 28px;
    }
    
    .magazyn {
        font-size: 14px; 
    }
    
    .header {
 
        justify-content: center;
    }
    
    .header-text {
        padding-left: 0px;
    }

    .dsp-wrap {
        display: initial ;
        flex-wrap: initial ;
        padding: 45px 0;
    }
    
    .header-big-text
    {
        font-size: 28px;
        line-height: 1.5;
        letter-spacing: 2px;
        text-align: left;
        color: white;
        padding-top: 40px;
        
    }
    
    .header-small-text
    {
        font-size: 20px;
        line-height: 1.8;
        letter-spacing: 1.5px;
        text-align: left; 
        padding-top: 20px;
        
    }
    
    .yellow-button{
        margin-left: 10px;
    }
    
    .timer {
        margin-top: 51px;
        margin-left: 10px;
    }

    .timer-number {
        width: 18px;
        margin-right: 7px;
        font-size: 38px;
    }
    
    .header-images {
        padding-top: 30px;
        padding-right: initial;
    }
    
    .mirror-image {
        width: 290px;
        height: 130px;
        padding-left: 10px;
        padding-top: 16px;
    }
    
    .mirror-price {
        padding-left: 200px;
        width: 100px;
        padding-top: 68px;
        position: absolute;
    }

    h2 {
        font-size: 20px;
        margin-top: 20px;
    }
    
    h3 {
        margin-top: 40px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 22px;
        letter-spacing: 2px; 
    }
    
    h4 {
        margin-top: 40px;
        margin-bottom: 20px;
        letter-spacing: 1px; 
    }
    
    li {
        font-size: 13px;
        line-height: 1.8;
        text-align: left;
    }
    
    .charect-width-1, .charect-width-2 {
        width: 90%;
    }
    .charect-pading-2 {
        padding-left: initial;
    }

    .characteristics {
        padding-left: 35%;
        box-sizing: border-box;
    }
    
    .photo-mirror {
         padding-right: initial; 
        display: flex;
        justify-content: center;
    }

    .car-number {
        border: solid 4px #ffdc00;
    }
    
    .circle {
        width: 12px;
        height: 12px;
        background:#333333;
        border-radius: 50%; 
    }
    
    .main-row-1 {
        display: flex;
        padding-top: 20px;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }

    video {
        width: 450px;
        height: 270px;
    }
    .video {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
    
    .video-border {
        width: 452px;
        height: 270px;
        position: absolute;
    }

    .saving {
        flex-direction: column;
        
    }

    }


    @media all and (max-width: 320px) {

        .nav-s1 {
            padding-top: 27px;
            padding-left: 25px;
        }

        .shop {
            font-size: 28px;
        }

        .magazyn {
            font-size: 11px; 
        }

        .dsp-wrap {
            width: 320px;
        }

         .header-big-text
    {
        font-size: 20px;
        padding-left: 10px;
        }

        .header-small-text {
            font-size: 16px;
            letter-spacing: 0.5px;
            padding-left: 10px;
        }

        .characteristics {
            padding-left: 10%;
            box-sizing: border-box;
        }
    }